body {
    text-align: center;
    background-color: #1a7ae0;
  }
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin:  5%;
    color: #e9c10e;
  }
  #title{
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin:  5%;
    color: #e9c10e;
  }
  
  h1{
    cursor: pointer;
    color: #ff0202d2;
  }
  h1 p{
    color: black;
    font-size: 0.8em;
  }
  .container {
    display: block;
    width: 50%;
    margin: auto;
  }
  
  .btn {
    margin: 15px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    border-radius: 0 30%  0 0;
    background-color: red;
  }
  
  .green {
    border-radius: 30% 0 0 0;
    background-color: green;
  }
  
  .blue {
    border-radius: 0 30%  0 0;
    background-color: blue;
  }
  
  .yellow {
    border-radius: 30% 0 0 0;
    background-color: yellow;
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  